<h3>Languages <span class="label label-primary">{{langVm.languages.length}}</span></h3>

<table class="table table-condensed table-striped table-hover">
    <thead>
    <tr>
        <th>Name</th>
        <th>Options</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="table-head">
            <input type="text" class="form-control input-sm"
                   ng-model="langVm.language.name"
                   ng-keydown="langVm.sendData($event)">
            <i class="clean" ng-show="langVm.language.name.length" ng-click="langVm.reset()">&times;</i>
        </td>
        <td>
            <button class="btn btn-success btn-sm"
                    ng-click="langVm.create(langVm.language)"
                    ng-disabled="!langVm.language.name.length">
                <i class="fa fa-plus"></i> Create
            </button>
            <button class="btn btn-primary btn-sm"
                    ng-click="langVm.update(langVm.language)"
                    ng-disabled="!langVm.getId() || !langVm.language.name.length">
                <i class="fa fa-refresh"></i> Update
            </button>
        </td>
    </tr>
    <tr ng-repeat="language in langVm.languages">
        <td>
            <!--<input type="checkbox">-->
            {{language.name}}
        </td>
        <td>
            <button ng-click="langVm.edit(language)" class="btn btn-sm btn-warning">
                <i class="fa fa-pencil"></i> Edit
            </button>
            <button ng-click="langVm.showModal(language)" class="btn btn-sm btn-danger delete">
                <i class="fa fa-remove"></i> Delete
            </button>
        </td>
    </tr>
    </tbody>
</table>

<div class="modal-wrapper" ng-show="langVm.isOpened">
    <div class="modal-window">
        <div class="modal-window__header">
            <i class="close-window" ng-click="langVm.hideModal()">&times;</i>
        </div>
        <div class="modal-window__body">
            Are you sure you want to delete the item "{{langVm.langName}}"?
        </div>
        <div class="modal-window__footer">
            <button class="btn btn-sm btn-danger" ng-click="langVm.delete()">
                <i class="fa fa-close"></i> Delete
            </button>
            <button class="btn btn-sm btn-default" ng-click="langVm.hideModal()">
                <i class="fa fa-refresh"></i> Cancel
            </button>
        </div>
    </div>
</div>
