<table class="table table-condensed table-hover table-striped">
    <tr>
        <td>First Name</td>
        <td><input type="text" class="form-control input-sm"></td>
    </tr>
    <tr>
        <td>Last Name</td>
        <td><input type="text" class="form-control input-sm"></td>
    </tr>
    <tr>
        <td>Middle Name</td>
        <td><input type="text" class="form-control input-sm"></td>
    </tr>
    <tr>
        <td>Date of Birtd</td>
        <td><input type="text" class="form-control input-sm"></td>
    </tr>
    <tr>
        <td>Place of Birtd</td>
        <td><input type="text" class="form-control input-sm"></td>
    </tr>
    <tr>
        <td>Address</td>
        <td><input type="text" class="form-control input-sm"></td>
    </tr>
</table>